<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dcu.fossilfuel">

    <uses-permission android:name="android.permission.INTERNET" />

<!--    두번째, 아이콘 변경 미적용 이유는 하단의 이름이 서로 불일치 였어서 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fossilfuel">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>

